   div.one button{
     margin-left: 0px;
     padding-top: -100px;
     margin-top: -90px;
     background-color: rgb(17, 136, 33);
     height: 50px;
     width: 120px;
   }

   p.terms{
     margin-top: -20px;
   }
   div.icon img{
    margin-top: 200px;
    margin-left: 60px;
   }

   div.more{
     margin-left: 200px;
   }

  div.new{
    margin-left:  200px;
  }  

  img.share
  